/* Font settings setcion */
@font-face{
    font-family: "Raleway";
    src: url("Raleway-Regular.ttf")

}
@font-face{
    font-family: "Raleway";
    src: url("Raleway-Bold.ttf");
    font-weight: bold;

}
/* Settings for smooth scroll, only works on desktop */
html{
    scroll-behavior: smooth;

}
/* Body max with to avoid issues on too high shrinking*/
body{
    max-width: 2480px;
    /* Font settings setcion fir whole page */
    font-family: 'Raleway', 'Courier New', Courier, monospace;
    /* Centering Body */
    margin: auto;
    /* Creating padding for body*/
    padding: 1em 1em;
    
}

/* Using grid to layout navbar (first menu section with logo and signup / accomodation / activities */
#navbar{
    display: grid;  
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    margin-top: 0px;
}
/* removing text decoration and aligning links */
#navbar a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    min-height: 50px;
    margin:auto;
}
/* disabling visitied link differences*/
a:visited{
    color:black;
}
/* changing color on hover */
.selectors:hover{
    color:#0065FC;
    border-top: #0065FC 1px solid;
}
/* adding permanent border on selectors ( accomodation and activities ) */
.selectors{
    border-top: #F2F2F2 1px solid;
}
/* aligning text in the navbar child divs */
#navbar div:nth-child(3),#navbar div:nth-child(4),#navbar div:nth-child(5) {
    text-align: center;
    min-height: 50px;
}

/* different color and font style for signup */
#signup{
    color:#0065FC;
    font-weight: bold;
}

/* Style for location section with search text */
h3 {
 font-weight: bold;
}

#search {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2em 15em 10em auto;
    height:50px;

}

#location{
    border-radius: 10px 0 0 10px;
    margin:0px;
    padding: 0px;
    display:flex;
    justify-content: center;
    background-color: #F2F2F2;
    height:100%;

    

}

#location-logo{
    align-self: center;
    height:50%;
    width:50%;
    color: black;

}

#inputlocation{
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0px;
    padding-bottom: 1px;
    height:100%;
    width:100%;
    border-width: 2px 0 2px 0;
    border-color:#F2F2F2;
    border-style: solid;
    border-radius: unset;

}

#searchbutton{
    padding: 0px;
    padding-bottom: 1px;
    height:2em;
    width: 50%;
    height: 100%;
    border-style: none;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0;
    color: white;
    
}
#searchicon {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    width: 50%;
    height: 100%;
    z-index: -1;
    padding: 10%;
    box-sizing: border-box;
}
#searchtext{
    position: absolute;
    left:0;
    top:0;
    margin: auto;
    width: 50%;
    height: 100%;
    z-index: 1;
    padding: 10%;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

h4{
    font-weight: bold;
    margin: 0px;
}

/* Style for filter section */
#filters{
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    grid-gap: 10px;

}
#filters div:nth-child(1){
    display: flex;
    justify-content: flex-start;


}
#filters h4:nth-child(1){
    align-self: center;
}

.filter{
    box-sizing: content-box;
    max-width: 220px;
    display: flex;
    position:relative;
    flex-direction: row;
    border-style: solid;
    border-radius: 27px 27px;
    border-color:#F2F2F2;
    white-space: nowrap;

}
.filter:hover{
    flex-direction: row-reverse;
    background-color:#F2F2F2;
}

.filterlogo{
    overflow: visible;
    position: relative;
    right: 0.1em;
    width:2em;
    min-width: 2em;
    height:2em;
    background-color: #DEEBFF ;
    padding:0.5em;
    border-style: none;
    border-radius: 50%;
}

.icon{
    fill: #0065FC ;

}
.filtertext{
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    font-weight: bold;
    margin: 0 30px;

}
.filtertext p:nth-child(1) {
    margin:auto;    
    align-self: center;
}
/* style for info logo and text */
#infotext{
    margin: 1em 0;
    width:100%;
    display: grid;
    grid-template-columns: 4em 15em 10em auto;
    height:50px;
}
#infologo{
    border-radius: 10px 0 0 10px;
    margin:0px;
    padding: 0px;
    display:flex;
    height:100%;
}

#imgcntr {
    width: 1em;
    min-width: 1em;
    height: 1em;
    border-radius: 50%;
    border: #F2F2F2 2px solid;
    padding:20%;
}
#imgcntr img{
    width: 100%;
    height: 100%;

}
/* General style for main menu and child imageboxes */
#mainmenu{
    min-height: 900px;
    display: grid;
    grid-template-columns:60% 35%;
    justify-content: space-between;
}
/* child accomodation menu settings */
#accomodotations{
    border-radius: 1em 1em 1em 1em;
    background-color: #F2F2F2;
    padding: 30px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));;
    grid-template-rows: auto repeat(2, minmax(350px, 1fr));
    grid-auto-rows: auto;


}

#accomodotations div:nth-child(1){
    width: 100%;
    grid-column: 1/-1;
    background-color: transparent;
    margin: unset ;

}

#accomodotations div {
    border-radius: 1em 1em 1em 1em ;
    background-color:white;
    width: 85%;
    margin: 2% auto;
}

#accomodotations img{
    border-radius: 1em 1em 0 0 ;
    display: block;
    width: 98%;
    height:65%;
    max-height:250px;
    padding: 1%;
    object-fit: cover;
    align-self: flex-start;
}
/*style for stars*/
.stars , #accomodotations .stars{
    height: 2em;
    max-height: 2em;
    width:90%;
    display:grid;
    grid-template-columns: repeat(5,10%)  ;
    margin:0% 3%;
    align-items: flex-end;
}
.stars img ,#accomodotations .stars img{
    width: 100%;
    height:70%;
    max-height: 50px;
    object-fit: unset;

}
/*image cards settings */
.imagebox{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height:90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*making clickable all cards by moving extra element on top of each */
.linkbutton{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom:0;
    z-index: 1;

}

.imagebox p {
    margin: 0 5%;
}
 .imagebox#showmore{ 
    box-shadow:none;
    margin:0px;
    grid-column:1/-1;
    background-color: transparent;
    margin-top: 3em;
    margin-bottom: 3em;
}
/* most popular image card settings */
#chartico{
    height: 50%;
    align-self: center;
    padding-right: 1em;
}
#mostpopular .imagebox .stars img{
    height: 100%;
    object-fit: unset;
}
#mostpopular div{
    max-height: 170px;
}
#mostpopular .imagebox p{
  margin-top: 5%;
}
#mostpopular{

    border-radius: 1em 1em 1em 1em;
    background-color: #F2F2F2;
    display:grid;
    grid-template-rows: 75px repeat(4, minmax(50px, 250px)) auto;
    
    padding:30px;
}
#mostpopular .imagebox img{
    border-radius: 1em 0em 0em 1em ;
    width:97%;
    overflow: hidden;
    height: 97%;
    object-fit: cover;
    margin:auto;



}
/* most popular card settings, image alignment and stars alignments */
#mostpopular .imagebox{
    max-width: 500px;
    display: grid;
    grid-template-columns: 0% 40% 60%;
    background-color: #ffffff;
    border-radius: 1em 1em 1em 1em ;
    margin: auto;
    width: 90%;
}

#mostpopular div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}
#mostpopular div:nth-child(1) h1{
    padding-left: 30px;
}
.imagebox#showmore h1{
    padding-left: 30px;
}
#mostpopular .imagebox p {
    width:auto;

}
.description{
    font-weight: normal;

}
#mostpopular .imgbxdsc{
    display:flex;
    flex-flow: row wrap;
}
/* activity menu section , starting with a separate div for anchoring to the right position */
#activityanchor{
    padding-left:30px;
    width:90%;
}

#activitiesmenu{
    background-color: unset;
    display: grid;
    max-height: 750px;
    grid-template-rows: repeat(2, minmax(150px, 1fr));
    padding:1%;
    gap:1%;
    row-gap: 5%;
    grid-template-areas:
    "a b c d"
    "a e c f" ;

}
#activitiesmenu div{
    box-sizing: border-box;
    max-width: 500px;
    width: 85%;  
    height:100%;


}
#activitiesmenu .imagebox{
    display:grid;
    justify-content: unset;
    grid-template-rows: auto 5em 0%;
    object-fit: none;
    margin: auto;
    border-radius: 1em;

}
#activitiesmenu img{
    border-radius: 1em 1em 0 0 ;
    overflow: hidden;
    width:100%;
    height: 100%;
     margin:0 auto;
    object-fit: cover;
}
/* specific order for activities and set up for later media queries preparement */
#activitiesmenu div:nth-child(1){grid-area:a;}
#activitiesmenu div:nth-child(2){grid-area:b;}
#activitiesmenu div:nth-child(3){grid-area:c;}
#activitiesmenu div:nth-child(4){grid-area:d;}
#activitiesmenu div:nth-child(5){grid-area:e;}
#activitiesmenu div:nth-child(6){grid-area:f;}

#footer{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #F2F2F2;
}
#footer div{
    width:85%;
    margin:auto;

}

#activitiesmenu .imagebox p{
   align-self: center;
}
#footer a {
    text-decoration: none;
}

/*
*************************************************************************************************
MEDIA QUERY --- ALL SETTINGS ONLY FOR MOBILE / LOW RESOLUTION DEVICES
*************************************************************************************************
*/
@media only screen and (max-width:1024px) {

body{
    margin: auto;
    min-width: unset;
    padding: unset;

}
    
#navbar{    
    grid-template-areas:
    "a e"
    "c d" ;
    grid-template-columns: 50% 50%;
}

#navbar img {
    width: 50%;
    padding-left: 2em;
    margin: 0px auto;
}
#signup{
    width: 50%;
    align-items: flex-end;
}
#navbar div{min-width:unset;}
#navbar div:nth-child(1){grid-area:a;}
#navbar div:nth-child(2){grid-area:b;}
#navbar div:nth-child(3){grid-area:c;}
#navbar div:nth-child(4){grid-area:d;}
#navbar div:nth-child(5){grid-area:e;}
.selectors:hover{
    color:#0065FC;
    border-top:none;
    border-bottom: #0065FC 3px solid;

}
.selectors{
    border-bottom:#F2F2F2 3px solid;
    border-top:unset;
}

#filtermenu{
    margin-left: 1em;
}
#search{
    grid-template-columns: 2em 55% 6em auto;

}
#infotext{
    grid-template-columns: 4em 55% 0;

}
#searchtext{
   z-index: -1;
   
}
#searchicon{
    z-index: 1;
}
.filtertext{
  margin: 0 auto;
}
#filters div:nth-child(1){grid-area:a; justify-content: unset;}
#filters div:nth-child(2){grid-area:b;}
#filters div:nth-child(3){grid-area:c;}
#filters div:nth-child(4){grid-area:d;}
#filters div:nth-child(5){grid-area:e;}
#filters {
    display:grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "a a"
    "b d"
    "c c"
    "e e"
    ;
}
#accomodotations {
    grid-area:accom; 
    padding: unset;
    background-color: unset;
    grid-template-rows:  auto repeat(4, minmax(50px, 1fr)) auto;
    grid-template-columns: unset;
}
#accomodotations div{
    width: 90%;
}
#accomodotations img{
    height: 60%;
}
#accomodotations div:nth-child(1){width: 85%; margin:auto;}

.imagebox , #mostpopular .imagebox{
   
   margin: 5% auto; 
   height: 100%;
   max-height: 200px;
   max-width: 500px;
}
#mostpopular{
    grid-area:mostpop; 
    border-radius: unset;
    padding: unset;
}
#mostpopular div{
    max-height: unset;
}
#mainmenu{
    grid-template-columns: 100%;
    grid-gap:unset;
    grid-template-areas:
    "mostpop"
    "accom";
}
#mostpopular .stars {
    align-self: flex-end;
    margin: 1%;
}
#activitiesmenu{
    gap:unset;
    max-height: unset;
    grid-template-areas:
    "a"
    "e"
    "c"
    "d"
    "b"
    "f";
    grid-template-rows: repeat(6, minmax(200px, 300px));

}
#activitiesmenu div{
    height: 90%;
    width: 90%;
}
#activitiesmenu img{
    height:100%;
}
#footer{

        display: grid;
        grid-template-columns: 85%;
    
        background-color: #F2F2F2;
    }
}