@font-face{
    font-family: "Raleway";
    src: url("Raleway-Regular.ttf")

}
@font-face{
    font-family: "Raleway";
    src: url("Raleway-Bold.ttf");
    font-weight: bold;

}
body{
    font-family: 'Raleway', 'Courier New', Courier, monospace;
    margin-top: 0px;
    margin-left: 3em;
}

#navbar{
    display: grid;  

    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    margin-top: 0px;
}

a{
    text-decoration: none;
}
a:visited{
    color:black;
}

#navbar div:nth-child(3),#navbar div:nth-child(4),#navbar div:nth-child(5) {
    text-align: center;
    min-width: 120px;
}

#signup{
    color:blue;
    font-weight: bold;
}

h3 {
 font-weight: bold;
}

#search {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2em 15em 10em 80%;
    

}
#location{
    border-radius: 10px 0 0 10px;
    margin:0px;
    padding: 0px;
    display:flex;
    justify-content: center;
    background-color: #F2F2F2;
    height:2em;

    

}

#location-logo{
    align-self: center;
    height:50%;
    width:50%;
    color: black;

}

#inputlocation{
    padding: 0px;
    padding-bottom: 1px;
    height:2em;
    width:100%;
    border-width: 2px 0 2px 0;
    border-color:#F2F2F2;
    border-style: solid;

}

#searchbutton{
    padding: 0px;
    padding-bottom: 1px;
    height:2em;
    width: 50%;
    height: 100%;
    border-style: none;
    background-color: blue;
    border-radius: 0px 10px 10px 0;
    color: white;
}

h4{
    font-weight: bold;
    margin: 0px;
}
#filters{
    padding-top: 2em;
    display: grid;
    grid-template-columns: 10% repeat(4, minmax(100px, 15%)) auto;
    grid-gap: 10px;

}
#filters div:nth-child(1){
    display: flex;
    justify-content: center;


}
#filters h4:nth-child(1){
    align-self: center;
}

.filter{
    min-width: 100px;
    max-width: 150px;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-radius: 1em 1em;
    border-width: 2px;
    border-color:#F2F2F2;
    white-space: nowrap;
    overflow: hidden;

}

.filterlogo{

    position: relative;
    right: 0.2em;
    width:2em;
    height:1em;
    background-color: #DEEBFF ;
    padding:5px;
    border-style: none;
    border-radius: 1em 1em;
}

.icon{
    fill: #0065FC ;

}
.filtertext{
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;

}
.filtertext p:nth-child(1) {
    margin:auto;    
    align-self: center;
}

#mainmenu{
    margin-top: 5em;
    display: grid;
    grid-template-columns: 70% 25%;
    grid-gap: 5%;
}

#accomodotations{
    border-radius: 1em 1em 1em 1em;
    background-color: #F2F2F2;
    padding: 30px;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    row-gap: 5px;



}

#accomodotations div:nth-child(1){
    width: 100%;
    grid-column: 1/4;
    background-color: transparent;

}

#accomodotations div {
    border-radius: 1em 1em 1em 1em ;
    background-color:white;
    width: 90%;
    margin: auto;
}

#accomodotations img{
    border-radius: 1em 1em 0 0 ;
    display: block;
    width: 95%;
    height: 100px;
    margin: 1%;
    padding: 1%;

}
.imagebox p:nth-child(2){
    font-weight: bold;
}

.imagebox p {
    margin: 5%;
}